h1
{color: rgb(232, 13, 13);background-color: aqua;}
form ::placeholder
{color: rgb(29, 237, 26);}
form p 
{color: rgb(90, 58, 178);}
form input
{color: rgb(210, 18, 227);}
h2
{color: blue;}
img
{width: 200px;}
h3 
{color: rgb(29, 26, 211);}
